.inter-body{
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    background-color: white;
    font-size: 1rem;
    align-items: center;
    height: auto;
    margin: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.container{
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}
#img-principal {
    width: 60vh;
    max-width: 100%;
    height: auto;
    display: flex;
    padding: 44.8px;
    margin: 0;
}

#texto{
    font-family: Inter;
    font-size: 2.5vh;
    margin-top: -15px;
    text-align: center;
}

.tres-circulos {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 5px;
    margin-right: 14px;
    margin-left: center;
}

.circulo {
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #D9D9D9;
    margin: 0 4px;
}

.circulo-pintado {
    background: #FF6064;
    width: 35px;
    height: 15px;
    border-radius: 10px;
    margin-right: 4px;
    margin-top: 2px;
}

.botao {
    background: #FF6064;
    color: white;
    border: none;
    padding: 10px 109px;
    border-radius: 30px;
    cursor: pointer;
    text-align: center;
    font-size: 12px;
    transition: box-shadow 0.3s ease;
}

.botao:hover {
    box-shadow: 0px 2px 4px 0px black;
}

@media (min-width: 375px) and (max-width: 767px) {
    .container {
        width: 100%;
        padding: 10px;
    }
    #texto{
        font-size: 40px;
        font-weight: bold;
    }
    .tres-circulos{
        margin-left: 15px;
    }
    .botao {
        margin-top: 15px;
        padding: 12px 150px;
        border-radius: 30px;
        font-size: 15px;
    }
}