.inter-body{
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    background-color: white;
    font-size: 1rem;
    align-items: center;
    height: auto;
    margin: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.container{
    margin-top: 16.5px;
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}



#texto-principal{
    font-family: "Inter", sans-serif;
    font-size: 6vh;
    padding-top: 30px;
}

#facebook{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 30px;
    margin: 25px;
    border-radius: 30px;
    border: 1px solid black;
    background-color: white;
    cursor: pointer;
    font-size: 14px;
    text-align: left;
    color: black;
    width: 250px;
}

a {
    text-decoration: none;
}

#facebook:hover, #google:hover, #apple:hover{
    background-color: #DDDDDD;
}

#google{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 30px;
    margin: 25px;
    border-radius: 30px;
    border: 1px solid black;
    background-color: white;
    cursor: pointer;
    font-size: 14px;
    text-align: left;
    color: black;
    width: 250px;
}

#apple{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 30px;
    margin: 25px;
    border-radius: 30px;
    border: 1px solid black;
    background-color: white;
    cursor: pointer;
    font-size: 14px;
    text-align: left;
    color: black;
    width: 250px;
}

#fb-texto, #google-texto, #apple-texto{
    font-family: "Inter", sans-serif;
    margin-top: auto;
    margin-bottom: auto;
}

#fb-logo, #google-logo, #apple-logo{
    margin-right: 10px;
    width: 16px;
    height: 16px;
}

#email{
    font-family: "Inter", sans-serif;
    background: #FF6064;
    color: white;
    border: none;
    padding: 12px 90px;
    border-radius: 30px;
    text-align: center;
    font-size: 12px;
    transition: box-shadow 0.3s ease;
    cursor: pointer;
}

#email:hover {
    box-shadow: 0px 2px 4px 0px black;
}

#palavra{
    font-family: "Inter", sans-serif;
    font-size: 2.5vh;
    padding-bottom: 3.5vh;
}

#pergunta, #signup{
    font-family: "Inter", sans-serif;
    font-size: 2.5vh;
    padding-top: 3vh;
}

#signup{
    color: #FF6064;
    cursor: pointer;
}

#seta, #seta-rosa{
    position: absolute;
    top: 75px;
    left: 108px;
    margin-bottom: 10px;
    transition: opacity 0.3s ease;
    cursor: pointer;
}

.container-img:hover #seta-rosa{
    position: absolute;
    top: 75px;
    left: 108px;
    margin-bottom: 10px;
    opacity: 1;
}

.container-img:hover #seta{
    position: absolute;
    top: 75px;
    left: 108px;
    margin-bottom: 10px;
    opacity: 0;
}

@media (min-width: 375px) and (max-width: 767px) {
    .container {
        width: 100%;
        padding: 10px;
    }
    #seta, #seta-rosa{
        top: 50px;
        left: 25px;
    }

    .container-img:hover #seta-rosa{
        top: 50px;
        left: 25px;
    }
    
    .container-img:hover #seta{
        top: 50px;
        left: 25px;
    }

    #facebook{
        padding: 10px 30px;
        margin: 25px;
        width: 300px;
    }

    #google{
        padding: 10px 30px;
        margin: 25px;
        width: 300px;
    }

    #apple{
        padding: 10px 30px;
        margin: 25px;
        width: 300px;
    }

    #fb-logo, #google-logo, #apple-logo{
        margin-right: 10px;
        width: 25px;
        height: auto;
    }

    #fb-texto, #google-texto, #apple-texto{
        font-family: "Inter", sans-serif;
        font-weight: bold;
        font-size: 17px;
    }

    #email{
        font-size: 20px;
    }

    #palavra, #pergunta{
        color: gray;
    }

    #texto-principal{
        font-size: 45px;
        text-align: center;
        font-weight: bold;
    }
    #pergunta, #signup{
        font-family: "Inter", sans-serif;
        font-size: 17px;
        padding-top: 3vh;
        font-weight: bold;
    }
    .email {
        margin-top: 15px;
        padding: 15px 143px;
        border-radius: 30px;
        font-size: 15px;
    }
}