#seta, #seta-rosa{
    position: absolute;
    top: 90px;
    left: 108px;
    margin-bottom: 10px;
    transition: opacity 0.3s ease;
}

.container-img:hover #seta-rosa{
    position: absolute;
    top: 90px;
    left: 108px;
    margin-bottom: 10px;
    opacity: 1;
}

.container-img:hover #seta{
    position: absolute;
    top: 90px;
    left: 108px;
    margin-bottom: 10px;
    opacity: 0;
}