body {
    padding: 0;
    margin: 0;
    background-color: #FF6064;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Inter', sans-serif;
    flex-direction: column;
}

#logo{
    width: 100px;
    margin-right: -10px;
}

.container-img{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content:space-between;
    margin-bottom: -20px;
    margin-right: 85px;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#foto-perfil{
    border-radius: 50%;
}

#texto {
    font-size: 20px;
    background-color: white;
    padding: 10px;
    border-radius: 40px;
}

#info-usuario p {
    margin: 10px 0;
    color: black;
    font-family: 'Inter', sans-serif;
}

#info-usuario strong {
    color: black;
}

#editar-perfil{
    border: none;
    border-radius: 30px;
    cursor: pointer;
    width: 48%;
    background-color: #FF6064;
    color: white;
    padding: 13px;
    font-family: 'Inter', sans-serif;
    transition: box-shadow 0.3s ease;
}

#editar-perfil:hover, #exit:hover{
    box-shadow: 0px 2px 4px 0px black;
}

#exit{
    padding: 8px;
    margin-top: 10px;
    background-color: white;
    color: black;
    border: 0.5px solid black;
    font-family: 'Inter', sans-serif;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    width: 5%;
}

@media (min-width: 375px) and (max-width: 767px) {
    body {
        flex-direction: column;
        padding: 5px;
    }

    #logo {
        display: flex;
        margin-top: -10px;
        padding-top: -20px;
        width: 180px;
        margin-right: 0;
    }

    .container-img {
        flex-direction: column;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .container {
        padding: 4px;
        width: 100%;
    }

    #texto {
        font-size: 18px;
        padding: 8px;
    }

    #editar-perfil {
        width: 50%;
        padding: 15px;
    }

    #exit {
        width: 25%;
        padding: 15px;
    }
}