body {
    padding: 0;
    margin: 0;
    background-color: #FF6064;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Inter', sans-serif;
}