.inter-body{
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    background-color: white;
    font-size: 1rem;
    align-items: center;
    height: auto;
    margin: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

#seta, #seta-rosa{
    position: absolute;
    top: 75px;
    left: 108px;
    margin-bottom: 10px;
    transition: opacity 0.3s ease;
    cursor: pointer;
}

.container-img:hover #seta-rosa{
    position: absolute;
    top: 75px;
    left: 108px;
    margin-bottom: 10px;
    opacity: 1;
}

.container-img:hover #seta{
    position: absolute;
    top: 75px;
    left: 108px;
    margin-bottom: 10px;
    opacity: 0;
}

.container{
    margin-top: 16.5px;
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}
#img-principal {
    width: 70vh;
    max-width: 100%;
    height: auto;
    display: flex;
    padding: 13.5px;
    margin: 0;
}

#texto{
    font-family: "Inter", sans-serif;
    font-size: 2.5vh;
    margin-top: -15px;
    text-align: center;
}

.tres-circulos {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: center;
}

.circulo {
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #D9D9D9;
    margin: 0 4px;
}

.circulo-pintado {
    background: #FF6064;
    width: 35px;
    height: 15px;
    border-radius: 10px;
    margin-right: 2px;
    margin-left: 2px;
    margin-top: 1px;
}

.botao {
    background: #FF6064;
    color: white;
    border: none;
    padding: 10px 90px;
    border-radius: 30px;
    cursor: pointer;
    text-align: center;
    font-size: 12px;
    transition: box-shadow 0.3s ease;
    cursor: pointer;
}

.botao:hover {
    box-shadow: 0px 2px 4px 0px black;
}

@media (min-width: 375px) and (max-width: 767px) {
    .container {
        width: 100%;
        padding: 10px;
    }
    #seta, #seta-rosa{
        top: 50px;
        left: 25px;
    }

    .container-img:hover #seta-rosa{
        top: 50px;
        left: 25px;
    }
    
    .container-img:hover #seta{
        top: 50px;
        left: 25px;
    }

    #img-principal{
        width: 90%;
    }
    #texto{
        font-size: 45px;
        text-align: center;
        font-weight: bold;
    }
    .tres-circulos{
        margin-left: center;
        margin-left: 20px;
    }
    .circulo-pintado{
        width: 45px;
        height: 15px;
    }
    .botao {
        margin-top: 15px;
        padding: 15px 143px;
        border-radius: 30px;
        font-size: 15px;
    }
}